.idea/
.DS_Store
node_modules

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/bank-frontend/node_modules
/bank-frontend/.pnp
/bank-frontend/.pnp.js

# testing
/bank-frontend/coverage

# production
/bank-frontend/build

# misc
/bank-frontend/.DS_Store
/bank-frontend/.env.local
/bank-frontend/.env.development.local
/bank-frontend/.env.test.local
/bank-frontend/.env.production.local

/bank-frontend/npm-debug.log*
/bank-frontend/yarn-debug.log*
/bank-frontend/yarn-error.log*
